.App {
  text-align: center;
}
.Dice {
  color: rgb(170, 7, 170);
  font-size: 7.25rem;
  margin: 10px;
}
.rolling {
  animation-name: wobble;
  animation: 2s;
}

.Dice-main {
  display: inline-block;
}
button {
  display: block;
  margin: 10px auto;
  font-size: 3rem;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover {
  transform: scale(1.2);
  transition: all ease 1s;
  cursor: pointer;
  background-color: rgb(167, 170, 7);
}

@keyframes wobble {
  0% {
    transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    transform: none;
  }
}
